[Desktop Entry]
Encoding=UTF-8
Name=Vitalcoin Core
Comment=Connect to the Vitalcoin P2P Network
Comment[de]=Verbinde mit dem Vitalcoin peer-to-peer Netzwerk
Comment[fr]=Vitalcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vitalcoin, eşten eşe kriptografik sanal para birimi
Exec=vitalcoin-qt %u
Terminal=false
Type=Application
Icon=vitalcoin128
MimeType=x-scheme-handler/vitalcoin;
Categories=Office;Finance;
