
## <summary>policy for vitalcoin</summary>


########################################
## <summary>
##	Transition to vitalcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`vitalcoin_domtrans',`
	gen_require(`
		type vitalcoin_t, vitalcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, vitalcoin_exec_t, vitalcoin_t)
')


########################################
## <summary>
##	Execute vitalcoin server in the vitalcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vitalcoin_initrc_domtrans',`
	gen_require(`
		type vitalcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, vitalcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search vitalcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vitalcoin_search_lib',`
	gen_require(`
		type vitalcoin_var_lib_t;
	')

	allow $1 vitalcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read vitalcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vitalcoin_read_lib_files',`
	gen_require(`
		type vitalcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, vitalcoin_var_lib_t, vitalcoin_var_lib_t)
')

########################################
## <summary>
##	Manage vitalcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vitalcoin_manage_lib_files',`
	gen_require(`
		type vitalcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, vitalcoin_var_lib_t, vitalcoin_var_lib_t)
')

########################################
## <summary>
##	Manage vitalcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vitalcoin_manage_lib_dirs',`
	gen_require(`
		type vitalcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, vitalcoin_var_lib_t, vitalcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a vitalcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`vitalcoin_admin',`
	gen_require(`
		type vitalcoin_t;
		type vitalcoin_initrc_exec_t;
		type vitalcoin_var_lib_t;
	')

	allow $1 vitalcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, vitalcoin_t)

	vitalcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 vitalcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, vitalcoin_var_lib_t)

')

