policy_module(vitalcoin, 1.100.1)

########################################
#
# Declarations
#

type vitalcoin_t;
type vitalcoin_exec_t;
init_daemon_domain(vitalcoin_t, vitalcoin_exec_t)

permissive vitalcoin_t;

type vitalcoin_initrc_exec_t;
init_script_file(vitalcoin_initrc_exec_t)

type vitalcoin_conf_t;
files_type(vitalcoin_conf_t)

type vitalcoin_var_lib_t;
files_type(vitalcoin_var_lib_t)

type vitalcoin_var_run_t;
files_type(vitalcoin_var_run_t)

type vitalcoin_port_t;
corenet_port(vitalcoin_port_t)

########################################
#
# vitalcoin local policy
#
allow vitalcoin_t self:process { fork };

allow vitalcoin_t self:fifo_file rw_fifo_file_perms;
allow vitalcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(vitalcoin_t, vitalcoin_conf_t, vitalcoin_conf_t)
manage_files_pattern(vitalcoin_t, vitalcoin_conf_t, vitalcoin_conf_t)

manage_dirs_pattern(vitalcoin_t, vitalcoin_var_lib_t, vitalcoin_var_lib_t)
manage_files_pattern(vitalcoin_t, vitalcoin_var_lib_t, vitalcoin_var_lib_t)
files_var_lib_filetrans(vitalcoin_t, vitalcoin_var_lib_t, { dir file })

manage_dirs_pattern(vitalcoin_t, vitalcoin_var_run_t, vitalcoin_var_run_t)
manage_files_pattern(vitalcoin_t, vitalcoin_var_run_t, vitalcoin_var_run_t)

sysnet_dns_name_resolve(vitalcoin_t)
corenet_all_recvfrom_unlabeled(vitalcoin_t)

allow vitalcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(vitalcoin_t)
corenet_tcp_sendrecv_generic_node(vitalcoin_t)
corenet_tcp_sendrecv_all_ports(vitalcoin_t)
corenet_tcp_bind_generic_node(vitalcoin_t)

gen_require(`
    type vitalcoin_port_t;
')
allow vitalcoin_t vitalcoin_port_t:tcp_socket name_bind;

gen_require(`
    type vitalcoin_port_t;
')
allow vitalcoin_t vitalcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(vitalcoin_t)

files_read_etc_files(vitalcoin_t)

miscfiles_read_localization(vitalcoin_t)

sysnet_dns_name_resolve(vitalcoin_t)

allow vitalcoin_t vitalcoin_exec_t:file execute_no_trans;
allow vitalcoin_t self:process setsched;
corecmd_exec_ls(vitalcoin_t)
corenet_tcp_connect_http_port(vitalcoin_t)
dev_read_urand(vitalcoin_t)
fs_getattr_xattr_fs(vitalcoin_t)
kernel_read_system_state(vitalcoin_t)
